{% extends "index.html" %}
{% load static %}

{% block content%}
<div class="hero-section" style= "background: url('{%static "/images/background.jpg"%}') no-repeat center center/cover;">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-lg-4">
                <div id = 'card_hover' class=" card text-dark" style = 'transition: transform 0.2s ease;
                box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
                border-radius: 0;
                border: 0;
                margin-bottom: 1.5em;'>
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                        
                        <button class="btn btn-primary" style >Button 1</button>
                        <button class="btn btn-secondary">Button 2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hero-section" style = "background: url('{%static "/images/background2.jpg"%}') no-repeat center center/cover; width:100%;">
    <div class = 'container'>
    <div class="row justify-content-center">
        <h2 class="title" style='color:black'>Crowddfunding delivers marketing benefit,</h2>
            <h2 class = "title" style = 'color:black'>customer loyalty and funds with speed</h2>
        <p class='text' style='color:black'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
        <div class="row justify-content-left">
            <div class="col-lg-4">
                <div class="card text-dark ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-dark ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-dark   ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
</div>


<div class="hero-section" style = 'width:100%; background-color:cadetblue;'>
    <div class = 'container'>
    <div class="row justify-content-center">
        <h2 class="title" style='color:black'>Cowardfunding delivers marketing benefit, customer loyalty and funds with speed</h2>
        <p class='text' style='color:black'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
        <div class="row justify-content-left">
            <div class="col-lg-4">
                <div class="card text-dark   ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-dark   ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-dark   ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </div>
</div>



<div class="container mt-5">
    <h2 class="title" style='color:black'>Crowdfunding delivers marketing benefit, customer loyalty and funds with speed</h2>
    <div class = 'row justify-content-center' style='padding:50px'>
    <div class="custom-div col-md-3 clmn1">
        <img src="{%static '/images/background2.jpg'%}" class="img-fluid first-image" alt="First Image">
        <img src="{%static '/images/background2.jpg'%}" class="img-fluid second-image" alt="Second Image">
    </div>
    <div class = "col-md-6 " style = 'background-color: rgba(0, 30, 200, 0.2); padding: 30px'>
            <h2>Heading</h2>
            <h4>Title Heading</h4>
            <p>
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
            </p>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="title" style='color:black'>Crowdfunding delivers marketing benefit, customer loyalty and funds with speed</h2>
    <div class = 'row justify-content-center' style='padding:50px'>
    
    <div class = "col-md-6 " style = 'background-color: rgba(0, 30, 200, 0.2); padding: 30px'>
            <h2>Heading</h2>
            <h4>Title Heading</h4>
            <p>
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
                This is a sample text describing the content. You can add more details here.
            </p>
            <a href="#">Learn More</a>
        </div>
        <div class="custom-div2 col-md-3" style = 'background-color: rgba(0, 30, 200, 0.2);'>
            <img src="{%static '/images/background2.jpg'%}" style = '
            '
            class="img-fluid first-image2" alt="First Image">
            <img src="{%static '/images/background2.jpg'%}" style = '
            top: 60%;
    width: 100px;
    height: 100px;
    margin-left 50px
            '
             class="img-fluid second-image2" alt="Second Image">
        </div>
    </div>
    
</div>

<span class="green_box" onmouseover="I am Green and today is {% now "d-n-Y" %}">
<div class = 'container'>
</div>
</span>


<div class="container mt-5">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{%static '/images/background.jpg'%}" class="card-img" alt="First Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Title for First Card</h5>
                            <p class="card-text">Description for the first card.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Column -->
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{%static '/images/background.jpg'%}" class="card-img" alt="Second Image">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Title for Second Card</h5>
                            <p class="card-text">Description for the second card.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="hero-section" style = 'width:100%; background-color:cadetblue;'>
    <div class = 'container'>
    <div class="row justify-content-center">
        <h2 class="title" style='color:black'>Cowardfunding delivers marketing benefit, customer loyalty and funds with speed</h2>
        <p class='text' style='color:black'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
        <div class="row justify-content-left">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static '/images/background.jpg'%}" class="card-img-top" alt="Top Image" style="height: 100px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">This is a sample card with an image on top, followed by a title and paragraph.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <img src="{%static '/images/Eufy.png'%}" alt="Logo" style="width: 40px;">
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static '/images/background.jpg'%}" class="card-img-top" alt="Top Image" style="height: 100px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">This is a sample card with an image on top, followed by a title and paragraph.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <img src="{%static '/images/Eufy.png'%}" alt="Logo" style="width: 40px;">
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{%static '/images/background.jpg'%}" class="card-img-top" alt="Top Image" style="height: 100px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">This is a sample card with an image on top, followed by a title and paragraph.</p>
                    </div>
                    <div class=" justify-content-between align-items-right">
                        <img src="{%static '/images/Eufy.png'%}" alt="Logo" style="width: 40px;">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </div>
</div>
{% comment %} <div class = "container justify-content-center" style = ' padding-left: 100px; padding-right: 100px'>
    <h2 class="title" style='color:black'>Cowardfunding delivers marketing benefit, customer loyalty and funds with speed</h2>
<div class="container" style = 'background-color: rgba(0,30,200,0.2);'>
    <div class="row justify-content-center">
        <!-- First Column with Pictures -->
        <div class="col-md-3">
            <img src="{%static '/images/background2.jpg'%}" class="img-fluid mb-3" style = 'width:200px; height:200px' alt="First Image">
            <img src="{%static '/images/background2.jpg'%}" class="img-fluid" alt="Second Image">
        </div>
        <!-- Second Column with Content -->
        <div class="col-md-6">
            <h2>Heading</h2>
            <h4>Title Heading</h4>
            <p>
                This is a sample text describing the content. You can add more details here.
            </p>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>
</div> {% endcomment %}




{% endblock content%}