{% extends "index.html" %}
{% load static %}

{% block content%}

<div  class="hero-section" style= "background: url('{%static "/images/background.jpg"%}') no-repeat center center/cover;">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-lg-4">
                <div id = 'card_hover' class=" card text-dark" style = 'transition: transform 0.2s ease;
                box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
                border-radius: 0;
                border: 0;
                margin-bottom: 1.5em;'>
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                        
                        <button class="btn btn-primary" style >Button 1</button>
                        <button class="btn btn-secondary">Button 2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="hero-section" style = "background: url('{%static "/images/background2.jpg"%}') no-repeat center center/cover; width:100%;">
    <div class = 'container'>
    <div class="row justify-content-center">
        <h2 class="title" style='color:black'>Crowddfunding delivers marketing benefit,</h2>
            <h2 class = "title" style = 'color:black'>customer loyalty and funds with speed</h2>
        <p class='text' style='color:black'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
        <div class="row justify-content-left">
            <div class="col-lg-4">
                <div class="card text-dark ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-dark ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-dark   ">
                    <div class="card-body text-center">
                        <!-- Card Content -->
                        <h2 class="card-title">Harness the power of your community</h2>
                        <p class="card-text">   You've worked so hard to build up a loyal following. 
                                                now rep the benefit using our tried and tested process 
                                                (with over 1,000 raises and counting) 
                                                to fund the next stage of your growth</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
</div>


<div  data-aos="fade-up" class="container mt-5">
    <div class="card">
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Left Column</h5>
                    <ul class="custom-list">
                        <li>List item 1</li>
                        <li>List item 2</li>
                        <li>List item 3</li>
                        <!-- Add more list items as needed -->
                    </ul>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Right Column</h5>
                    <ul class="custom-list">
                        <li>List item 1</li>
                        <li>List item 2</li>
                        <li>List item 3</li>
                        <!-- Add more list items as needed -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}