.hero-section {
    height: 500px; /* Adjust the height as needed */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
.card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
.card:hover {
    transform: scale(1.1);
  }
.hero-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px; /* Adjust the distance from the left */
    max-width: 400px; /* Set the maximum width for the card */
}

.custom-card{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.custom-card:hover {
    background-color: rgba(12, 233, 214, 0.4); /* Change the background color on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); /* Add a box shadow on hover */
}
.custom-div {
    width: 500px;

    background-color: rgba(0, 30, 200, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;

}
.custom-div img {
    position: absolute;
}

.first-image {
    top: 30%;
    left: -20%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
}

.second-image {
    top: 60%;
    width: 100px;
    height: 100px
}


.custom-div2 {
    width: 500px;

    background-color: rgba(0, 30, 200, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;

}
.custom-div2 img {
    position: absolute;
}
.first-image2 {
    top: 30%;
    right: -20%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
}

.second-image2 {
    top: 60%;
    width: 100px;
    height: 100px;
}