.hero-section {
    height: 500px; /* Adjust the height as needed */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

.hero-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px; /* Adjust the distance from the left */
    max-width: 400px; /* Set the maximum width for the card */
}
