.hero-section {
    height: 500px; /* Adjust the height as needed */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

.hero-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px; /* Adjust the distance from the left */
    max-width: 400px; /* Set the maximum width for the card */
}

.custom-div {
    width: 500px;

    background-color: rgba(0, 30, 200, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-div img {
    position: absolute;
}

.first-image {
    top: 30%;
    left: -20%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
}

.second-image {
    top: 60%;
    width: 100px;
    height: 100px
}